In [1]:
import sqlite3
import pandas as pd

In [2]:
# criação do DataFrame
fastfood_df = pd.read_excel("fastfood.xlsx",sheet_name='fastfood')

In [25]:
'''1. Criar as seguintes funções:'''

# def salva_bd(df, nome_tabela): salva dataframe df na tabela nome_tabela.

def salva_bd(df, nome_tabela):

    # Conectar ao banco de dados
    conn = sqlite3.connect('coderhouse.db')

    # Escrever o DataFrame em uma tabela que pode ser consultada em linguagem SQL
    #o DataFrame 'fastfood_df' será transformado na tabela 'fastfood' no banco de dados 'coderhouse.db'
    df.to_sql(nome_tabela, conn, if_exists='replace', index=False)

    # Fechar a conexão com o banco de dados
    conn.close()

    return True

In [37]:
# def carrega_bd(nome_tabela): carrega tabela nome_tabela num dataframe. 

def carrega_bd(nome_tabela):

    # leitura da tabela 

    conn = sqlite3.connect('coderhouse.db')

    # Executar uma consulta SELECT na tabela 'fastfood' e converter em um DataFrame
    '''Transforma o resultado da consulta SQL em um DataFrame'''
    #query = '''SELECT * FROM nome_tabela'''
    query = f'SELECT * FROM  {nome_tabela} '
    df2 = pd.read_sql(query, conn)
    print(df2)

    conn.close()

    return True

In [38]:
# def tabelas_bd(): retorna um dataframe com as tabelas do banco de dados.

def tabelas_bd():

    conn = sqlite3.connect('coderhouse.db')

    # Executar uma consulta que retorna as informações do esquema do banco de dados
    query = "SELECT name FROM sqlite_master WHERE type='table'"
    schema = pd.read_sql_query(query, conn)

    # Imprimir o DataFrame com os nomes das tabelas
    print(schema)

    conn.close()

    return True

In [39]:
tabelas_bd()

       name
0  fastfood
1  produtos

True

In [32]:
# salvar uma tabela
df_produtos = pd.DataFrame({'nome': ['ovos', 'manteiga', 'peixe'],
                   'valor': [10, 20, 30]})  
df_produtos

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

In [33]:
salva_bd(df_produtos,'produtos')

True

In [40]:
carrega_bd('produtos')

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

True

In [41]:
tabelas_bd()

       name
0  fastfood
1  produtos

True